
<div class="row center_div">
  <div class="btn-group btn-primary align_right">
    <button class="btn">Previous</button>
    <button class="btn">Next</button>
  </div>
  <div class="btn-group btn-primary">
    <button class="btn btn-danger">Close</button>
</div>


  <div class="col-md-12">
    <span><h4 class = "question_number"> Question 1. </h4></span>
      <span><h5 class = "question_text">Do you prevent unapproved software from being executed, for example, through whitelisting of applications?</h5></span>
      <form>
        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                  <div class="checkbox">
                    <input type="checkbox" id="checkrads_1">
                  <label for="checkrads_1">Definitely yes</label>

              </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                  <div class="checkbox">
                    <input type="checkbox" id="checkrads_2">
                  <label for="checkrads_2">Probably yes</label>
                  </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                  <div class="checkbox">
                    <input type="checkbox" id="checkrads_3">
                  <label for="checkrads_3">Might or might not</label>
                  </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                  <div class="checkbox">
                    <input type="checkbox" id="checkrads_4">
                  <label for="checkrads_4">Probably not</label>
                  </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                  <div class="checkbox">
                    <input type="checkbox" id="checkrads_5">
                  <label for="checkrads_5">Definitely not</label>
                  </div>
          </span>
        </div>
        <br>


      <clr-alert>
          <div class="alert-item">
              <span class="alert-text">
                <h5 class="alert_message_title"> ASK ALIS </h5>

                <a href = "www.google.com"><h5 class="alert_message_subtitle"> IT Security and Risk Management </h5> </a>
                <h5> Follow the link for more information on the context of the question </h5>
              </span>
          </div>
      </clr-alert>

      <h4>Control Progress:</h4>
      <div class="progress demo">
          <progress max="100" value="40" data-displayval="0%"></progress>
      </div>


      </form>
  </div>
</div>




<!-- RadioButtons -->







<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
