


  

    <div class="row center_div">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h2> Standard </h2>
            </div>
            <div class="card-block">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="card-block">
                <ul class="list">

                    <li>
                        Features
                        <ul class="list">
                            <li>Amount of Available Controls</li>
                            <li>Amount of Consulting Hours</li>
                            <li>General Benefits</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-primary">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h2> Freemium </h2>
            </div>
            <div class="card-block">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="card-block">
                <ol class="list">
                  <li>
                      Features
                      <ul class="list">
                          <li>Amount of Available Controls</li>
                          <li>Amount of Consulting Hours</li>
                          <li>General Benefits</li>
                      </ul>
                  </li>
                </ol>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-primary">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h2> Premium </h2>
            </div>
            <div class="card-block">
                <p class="card-text">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="card-block">
                <ul class="list-unstyled">
                  <li>
                      Features
                      <ul class="list">
                          <li>Amount of Available Controls</li>
                          <li>Amount of Consulting Hours</li>
                          <li>General Benefits</li>
                      </ul>
                  </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-primary">Purchase</a>
            </div>
        </div>
    </div>
</div>


    <br>
      <br>
        <br>
          <br>
            <br>
              <br>
              <br>
                <br>
                  <br>
                    <br>
                      <br>
                        <br>
                        <br>
                          <br>
                            <br>
                              <br>
                                <br>
                                  <br>
