<!--<p>
  question works!
</p>-->


<div class="row center_div">
  <div class="btn-group btn-primary align_right">
    <button class="btn">Previous</button>
    <button class="btn">Next</button>
  </div>
  <div class="btn-group btn-primary">
    <button class="btn btn-danger">Close</button>
</div>
  <div class="col-md-12">
    <span><h4 class = "question_number"> Question 1. </h4></span>
      <span><h5 class = "question_text">Do you prevent unapproved software from being executed, for example, through whitelisting of applications?</h5></span>
      <form>
        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                    <div class="radio">
                      <input type="radio" name="gridRadios1" id="checkrads_11">
                        <label for="checkrads_11">Definitely yes</label>
                    </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                    <div class="radio">
                      <input type="radio" name="gridRadios1" id="checkrads_12">
                        <label for="checkrads_12">Probably yes</label>
                    </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                    <div class="radio">
                      <input type="radio" name="gridRadios1" id="checkrads_13">
                        <label for="checkrads_13">Might or might not</label>
                    </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                    <div class="radio">
                      <input type="radio" name="gridRadios1" id="checkrads_14">
                        <label for="checkrads_14">Probably not</label>
                    </div>
          </span>
        </div>

        <div class="col-sm-12 col-md-12 option_spacing">
          <span>
                    <div class="radio">
                      <input type="radio" name="gridRadios1" id="checkrads_15">
                        <label for="checkrads_15">Definitely not</label>
                    </div>
          </span>
        </div>
        <br>


      <clr-alert>
          <div class="alert-item">
              <span class="alert-text">
                <h5 class="alert_message_title"> ASK ALIS </h5>

                <h5 class="alert_message_subtitle"> IT Security and Risk Management </h5>
                <h5> Follow the link for more information on the context of the question </h5>
              </span>
          </div>
      </clr-alert>

      <h4>Control Progress:</h4>
      <div class="progress demo">
          <progress max="100" value="40" data-displayval="0%"></progress>
      </div>


      </form>
  </div>
</div>




<!-- RadioButtons -->







<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
